<%= render "shared/header" %>
<div class="item-contents">
  <% @products.each do |product| %>
          <li class='list'>
              <%= link_to product_path(product.id) do %>
              <div class='item-img-content'>
                <%# ①商品画像 %>
                <%= image_tag product.image, class: "item-img" %>
                <%# ②「sold out」表示 %>
                <%# 商品が売れていればsold outを表示しましょう %>
                <div class='sold-out'>
                  <% if product.record.present? && product.id == product.record.product_id %>
                    <span>Sold Out!!</span>
                  <% end %>
                </div>
                <%# //商品が売れていればsold outを表示しましょう %>
              </div>
              <%# ③商品名 %>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= product.item %>
                </h3>
              </div>
              <% end %>
          </li>
  <% end %>
</div>
